{% extends 'base.html' %}

{% block content %}

<h1>Delete Account</h1>

{% load static %}
<img src="{% static 'images/project3-delete-profile.png' %}" alt="">

<h4>Are you sure you want to delete your account,
    {% if user.first_name %}
    <span> {{ user.first_name }} </span>
    {% else %}
    <span> {{ user.username }} </span>
    {% endif %}
    ?
</h4><br>

<a href="{% url 'profile_delete' user.id %}"class="btn red" style="margin: 0px 10px;">Yes, Delete User</a>

<a href="{% url 'profile_detail' user.id %}" class="btn" style="margin: 0px 10px;">No, Cancel</a><br><br>

{% endblock %}