{% extends 'base.html' %}

{% block content %}

{% load static %}

<h1 class="profile-greentext">{{ user.username }}'s Profile</h1>
<div class="profile-pic-container p-container">
{% if user.profile.user_profile_pic != 'no image' %}
<img src="/media/{{user.profile.user_profile_pic}}" alt="profile pic property: {{user.profile.user_profile_pic}}" class="profile-pic">
{% else %}
<img src="{% static 'images/project-default-profile-pic.gif' %}" alt="" class="profile-pic">
{% endif %}
</div>
{% if user.first_name and user.last_name %}
<h5 class="profile-greentext">{{ user.first_name }} {{ user.last_name }} </h5>
{% endif %}
<div class="p-container" id="profile-bio-container">
{% if user.profile.user_bio %}
<p>{{ user.profile.user_bio }}</p>
{% else %}
<p>{{ user.username}} hasn't added a bio yet! </p>
{% endif %}
</div><br>



<!-- Hero Boards within here: -->
<div class="p-hero-outer">

    <div class="p-hero-row">
        <div class="p-hero-title">
            <span>Board 1 Title</span>
        </div>
        <div class="p-hero-card p-container-sm">
            <div class="p-hero-image"></div>
        </div>
        <div class="p-hero-card p-container-sm">
            <div class="p-hero-image"></div>
        </div>
        <div class="p-hero-card p-container-sm">
            <div class="p-hero-image"></div>
        </div>
        <div class="p-hero-card p-container-sm">
            <div class="p-hero-image"></div>
        </div>
        <div class="p-hero-card p-container-sm">
            <div class="p-hero-image"></div>
        </div>
    </div>

    <div class="p-hero-row">
        <div class="p-hero-title">
            <span>Board 2 Title</span>
        </div>
        <div class="p-hero-card p-container-sm">
            <div class="p-hero-image"></div>
        </div>
        <div class="p-hero-card p-container-sm">
            <div class="p-hero-image"></div>
        </div>
        <div class="p-hero-card p-container-sm">
            <div class="p-hero-image"></div>
        </div>
        <div class="p-hero-card p-container-sm">
            <div class="p-hero-image"></div>
        </div>
        <div class="p-hero-card p-container-sm">
            <div class="p-hero-image"></div>
        </div>
    </div>

    <div class="p-hero-row">
        <div class="p-hero-title">
            <span>Board 3 Title</span>
        </div>
        <div class="p-hero-card p-container-sm">
            <div class="p-hero-image"></div>
        </div>
        <div class="p-hero-card p-container-sm">
            <div class="p-hero-image"></div>
        </div>
        <div class="p-hero-card p-container-sm">
            <div class="p-hero-image"></div>
        </div>
        <div class="p-hero-card p-container-sm">
            <div class="p-hero-image"></div>
        </div>
        <div class="p-hero-card p-container-sm">
            <div class="p-hero-image"></div>
        </div>
    </div>

</div>


{% endblock %}
