<!-- Template  -->

{% extends 'base.html' %}

{% block content %}

{% load static %}

<h1 class="profile-greentext">{{ user.username }}'s Profile</h1>
<div class="profile-pic-container p-container">
{% if user.profile.user_profile_pic != 'no image' %}
<img src="/media/{{user.profile.user_profile_pic}}" alt="profile pic property: {{user.profile.user_profile_pic}}" class="profile-pic">
{% else %}
<img src="{% static 'images/project-default-profile-pic.gif' %}" alt="" class="profile-pic">
{% endif %}
</div>
{% if user.first_name and user.last_name %}
<h5 class="profile-greentext">{{ user.first_name }} {{ user.last_name }} </h5>
{% endif %}
<div class="p-container" id="profile-bio-container">
{% if user.profile.user_bio %}
<p>{{ user.profile.user_bio }}</p>
{% else %}
<p>{{ user.username}} hasn't added a bio yet! </p>
{% endif %}
</div><br>



<hr><p>PLACEHOLDER - HERO BOARDS HERE</p><br><hr><br>


{% endblock %}

<h1>User Profile</h1>
<!-- I've used the style attribute here in order to avoid using CSS at this stage -->
<!-- TODO: change to CSS styling later -->
{% if user.profile.user_profile_pic != 'no image' %}
<img src="/media/{{user.profile.user_profile_pic}}" alt="profile pic property: {{user.profile.user_profile_pic}}" style="max-height: 200px; border: 2px solid black; border-radius: 8px;">
{% else %}
<img src="{% static 'images/project-default-profile-pic.gif' %}" alt="">
{% endif %}

{% if user.first_name and user.last_name %}
<h6> Name: {{ user.first_name }} {{ user.last_name }} </h6>
{% endif %}
{% if user.profile.user_bio %}
<h6>User Bio:</h6>
<div id="pb-container">
<p>{{ user.profile.user_bio }}</p>
</div>
{% endif %}

<br><br><hr>
<p>Placeholder for hero boards</p>
<hr><br>
