/.env
main_app/migrations
/main_app/migrations
main_app/__pycache__
/main_app/__pycache__
main_app/static/uploads/download_1.jpeg
main_app/static/uploads/download.jpeg
main_app/static/uploads/Food.jpeg
main_app/static/uploads/photo-1540189549336-e6e99c3679fe.jpeg
project03/__pycache__/__init__.cpython-310.pyc
project03/__pycache__/settings.cpython-310.pyc
project03/__pycache__/urls.cpython-310.pyc
project03/__pycache__/wsgi.cpython-310.pyc
main_app/__pycache__/__init__.cpython-310.pyc
main_app/__pycache__/admin.cpython-310.pyc
main_app/__pycache__/apps.cpython-310.pyc
main_app/__pycache__/models.cpython-310.pyc
main_app/__pycache__/urls.cpython-310.pyc
main_app/__pycache__/views.cpython-310.pyc
main_app/migrations/__pycache__/__init__.cpython-310.pyc
main_app/migrations/__pycache__/0001_initial.cpython-310.pyc
main_app/__pycache__/models.cpython-310.pyc
main_app/__pycache__/urls.cpython-310.pyc
main_app/__pycache__/views.cpython-310.pyc
main_app/static/uploads/photo-1540189549336-e6e99c3679fe_E8SJpfS.jpeg
