{% extends 'base.html' %}

{% block content %}

<div class="aboutcontent">

<div id="about-image-container">
<div id='board-container-about' id="board-display">


<div class='board-section'>

    <div>

    <img class="img" id="about-images" src='/media/main_app/static/uploads/cow2.jpeg/'>

    </div>
    
</div>

<div class='board-section'>

    <div>

    <img class="img" id="about-images" src='/media/main_app/static/uploads/About page/download (1).jpeg'>

    </div>
    
</div>

<div class='board-section'>

    <div>

    <img class="img" id="about-images" height="350px" style='border-radius: 5%;' src='/media/main_app/static/uploads/About page/download (2).jpeg'>

    </div>
    
</div>



<div class='board-section'>

    <div>

    <img class="img" id="about-images" src='/media/main_app/static/uploads/About page/download (3).jpeg'>

    </div>
    
</div>
<div class='board-section'>

    <div>

    <img class="img" class="about-images" width="250px" height="250px" style='border-radius: 5%;' src='/media/main_app/static/uploads/photo-1540189549336-e6e99c3679fe.jpeg'>

    </div>
    
</div>

<div class='board-section'>

    <div>

    <img class="img" id="about-images" src='/media/main_app/static/uploads/About page/download (6).jpeg'>

    </div>
    
</div>

<div class='board-section'>

    <div>

    <img class="img" id="about-images" src='/media/main_app/static/uploads/images (1).jpeg'>

    </div>
    
</div>


<div class='board-section'>

    <div>

    <img class="img" id="about-images" src='/media/main_app/static/uploads/IMG_3538_7GswGea.JPG'>

    </div>
    
</div>

<div class='board-section'>

    <div>

    <img class="img" id="about-images" src='/media/main_app/static/uploads/About page/images.jpeg'>

    </div>
    
</div>

<div class='board-section'>

    <div>

    <img class="img" id="about-images" src='/media/main_app/static/uploads/About page/download (4).jpeg'>

    </div>
    
</div>

</div>

</div>
</div>

<div class="aboutcontent">

    <br><h1>Forage - About Page</h1><br><br>
  
    <p>
        Forage is an image-forward 'mood board' app, where users can build and add to their Boards by adding images. The images the user adds to their Boards can either be 'foraged' from other users' images, or they can be images that the user has uploaded themselves.
    </p><br>
    <p>This web app was built by <a href="https://git.generalassemb.ly/hvb">hvb</a>, <a href="https://git.generalassemb.ly/ic188002">ic188002</a> and <a href="https://git.generalassemb.ly/hphilpotts">hphilpotts</a> using Django framework and postgreSQL, as part of a team project completed during General Assembly London's SEI-66 Online course.</p><br>
    <p><a href="https://git.generalassemb.ly/hvb/project03">Link to GitHub Repo</a></p><br>
    <a href="{% url 'home' %}" class="btn">Back to Home</a><br><br>

      
</div>

</div>

<script>

$('main').attr('class', 'aboutdetail');
</script>









{% endblock %}