/* || GLOBAL STYLES */

* {
    text-align: center;

}

body {
    background-color: rgb(240, 240, 240);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

footer.page-footer {
    padding-top: 0px;
    text-align: right;
}

.btn {
    background-color: #8bc34a;
}

/* ---------- */

.img:hover {
    filter: brightness(80%);
    background-size: cover;
  }

.brand-logo{
    left: 23px
}
.image_detail{
    float:right;
    width: 300px;
    height: 300px;
    background-size: contain;
    background-color: aqua;
}


.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto   ;
    grid-template-rows: auto auto auto auto  ;
    justify-content: left;
    padding: 10px 10px;
    margin: 0px;
   
}

.popup-overlay {
   visibility:hidden;
 }
    
.popup-content {
    visibility:hidden;
}

.popup-overlay.active{
     visibility:visible;
 }
        
.popup-content.active {
        visibility:visible;
 }

#boarddetail {
    margin: 0;
}



/* || USER PROFILE STYLES */

/* Containers: */
#pb-container {
    width: auto;
    min-height: 4em;
    margin: 0% 20%;
    padding: 1em;
    border: none;
    border-radius: 10px;
    background-color: white;
}

.profile-form {
    border: 0px none;
    border-radius: 10px;
}

#profile-form-container {
    width: 50%;
    color: black;
    background-color: #8bc34ab0;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 10%;
    border-radius: 15px;

}

#profile-form-inner {
    margin: 20px;
    padding: 20px;

    background-color: white;
}