
* {
    text-align: center;
}


.img:hover {
    filter: brightness(80%);
    background-size: cover;
  }

.brand-logo{
    left: 23px
}
.image_detail{
    float:right;
    width: 300px;
    height: 300px;
    background-size: contain;
    background-color: aqua;
}