<!-- Template  -->

{% extends 'base.html' %}

{% block content %}

<!-- dazzlingly brillant code goes in here -->
<br>
<div class="detail-img">
    <div class="info">
        <h1>Subject: {{ image.subject }}</h1><br>
        <p>Description: {{ image.description }}</p>
    </div>
    {% load static %}
    <span class="image_detail"><img class src='/media/{{image.img}}' /></span>


</div>
</div>
<div class="photo_editdelete">

<a class="btn-floating btn-large cyan pulse" href="{% url 'images_update' image.id %}" ><i class="material-icons">edit</i></a>
</div>

<!-- <div class="wrapper">
    <div class="box box1"><img src='/media/{{image.img}}' alt="a balloon"></div>
</div>            
     -->

{% endblock %}